<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
</script>

<template>
  <div>
    <v-row>
      <v-col>
        <div>First</div>
        <FirstComponent />
      </v-col>
      <v-col>
        <div>Second</div>
        <SecondComponent />
      </v-col>
    </v-row>
  </div>
</template>
