<template>
  <div>
    <v-row>
      <v-col class="justify-center">
        <v-text-field
          :value="number"
          @input="onInput"
          :error-messages="errorMessage"
          type="number"
          label="Please input Number"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-container> </v-container>
    <v-row no-gutters>
      <v-col v-for="n in 1000" :key="n" cols="12" sm="1">
        <p v-if="n <= number">{{ n }}</p>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const number = ref(0);
const errorMessage = ref([]);

function onInput(event: any) {
  number.value = event.target.value;
  if (!event.target.value) {
    errorMessage.value = ["Number is not empty!!"];
  } else {
    errorMessage.value = [];
  }
  return { number, errorMessage, onInput };
}
</script>
<style scoped></style>
