<script lang="ts" setup>
import { ref } from "vue";
const Feeling = ["ANGRY", "CUTE", "EXCITED", "PAIN", "SHOCK", "SMILE"];
const textFeeling = ref(5);
let images = ref("../../feeling_imgs/smile.png");
</script>
<template>
  <v-container>
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>
          <v-img contain :src="images" max-height="295" max-width="412"></v-img>
        </v-container>
      </v-col>
      <v-col>
        <v-row>
          <v-container>{{ Feeling[textFeeling] }}</v-container>
          <v-container></v-container>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 0),
                  (images = images = '../../feeling_imgs/angry.png')
              "
              v-model.text="Feeling"
              value="ANGRY"
              width="300"
              height="30"
              >ANGRY</v-btn
            >
          </v-col>
        </v-row>
        <v-container></v-container>
        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 1),
                  (images = images = '../../feeling_imgs/cute.png')
              "
              v-model.text="Feeling"
              value="CUTE"
              width="300"
              height="30"
              >CUTE</v-btn
            >
          </v-col>
        </v-row>

        <v-container></v-container>
        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 2),
                  (images = images = '../../feeling_imgs/excited.png')
              "
              v-model.text="Feeling"
              value="EXCITED"
              width="300"
              height="30"
              >EXCITED</v-btn
            >
          </v-col>
        </v-row>

        <v-container></v-container>

        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 3),
                  (images = images = '../../feeling_imgs/pain.png')
              "
              v-model.text="Feeling"
              value="PAIN"
              width="300"
              height="30"
              >PAIN</v-btn
            >
          </v-col>
        </v-row>

        <v-container></v-container>

        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 4),
                  (images = images = '../../feeling_imgs/shocked.png')
              "
              v-model.text="Feeling"
              value="SHCOKED"
              width="300"
              height="30"
              >SHOCKED</v-btn
            >
          </v-col>
        </v-row>
        <v-container></v-container>

        <v-row>
          <v-col>
            <v-btn
              @click="
                (textFeeling = 5),
                  (images = images = '../../feeling_imgs/smile.png')
              "
              v-model.text="Feeling"
              value="SMILE"
              width="300"
              height="30"
              >SMILE</v-btn
            >
          </v-col>
        </v-row>
        <v-container></v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn:focus {
  background-color: yellow;
}
</style>
