<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
const props = withDefaults(
  defineProps<{
    name: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);
const emits = defineEmits<{
  (e: "change", rating: number, index: number): void;
}>();
// const props = defineProps({
//   name: {
//     type: String,
//     required: true,
//   },
//   img: {
//     type: String,
//     required: true,
//   },
//   rating: {
//     type: Number,
//     required: true,
//   },
// });
</script>
<template>
  <div>
    <div class="text-h6 mb-1">{{ props.name }}</div>
    <div class="text-caption">{{ counterStore.count }}</div>
  </div>

  <v-btn @click="counterStore.increment()"> Increase </v-btn>
</template>
