<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
const props = withDefaults(
  defineProps<{
    name: string;
    ratingsecond: number;
    indexsecond: number;
  }>(),
  {
    ratingsecond: 10,
  }
);
const emits = defineEmits<{
  (e: "change", rating: number, index: number): void;
}>();
// const props = defineProps({
//   name: {
//     type: String,
//     required: true,
//   },
//   img: {
//     type: String,
//     required: true,
//   },
//   rating: {
//     type: Number,
//     required: true,
//   },
// });

emits("change", props.indexsecond, counter.count);
</script>
<template>
  <div>
    <div class="text-h6 mb-1">{{ props.name }}</div>
    <div class="text-caption">{{ counter.count * 2 }}</div>
  </div>

  <v-btn @click="counter.decrement()"> Decrease </v-btn>
</template>
